{% extends 'base.html' %}

{% block content %}
<main class="main">
    <!--==================== Home =======================-->
    <section id="home" class="home">
        <div class="d-grid home__wrapper container">
            <div class="home__content">
                <h1 class="home__title">Transformation <span>Journey Step Future</span>Professinal </h1>
                <p class="home__description">Sit vehicula est dolor eget adipiscing amet tempor est ultrices. Vel
                    ultrices euismod ut phasellus integer. Massa leo
                    vestibulum at nec amet sed sociis luctus enim.</p>
                <a href="#discover" class="btn btn--primary">
                    Discover
                </a>
            </div>
            <!-- <img src="../static/img/home.jpg" alt="" class="home__img"> -->
            <img src="https://media.istockphoto.com/id/1340766096/photo/beautiful-smiling-female-college-student.jpg?s=612x612&w=0&k=20&c=phSOH_VAm5fszVSnxnPbSjlbne0SpUXRv2VlyrdSihQ=" alt="" class="home__img">
        </div>
    </section>


 



 
</main>


{% endblock %}